scikit_image>=0.12.3
scipy>=0.19.1
natsort>=5.0.3
matplotlib>=2.0.2
numpy>=1.13.1
SimpleITK>=1.0.1
-e git+https://cmiclab.cs.ucl.ac.uk/gift-surg/PySiTK.git#egg=PySiTK
-e git+https://git@cmiclab.cs.ucl.ac.uk/gift-surg/NSoL.git#egg=NSoL
-e git+https://git@cmiclab.cs.ucl.ac.uk/gift-surg/SimpleReg.git#egg=SimpleReg
